section{
display: grid;
width: 900px;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: 50px 100px 300px 150px 430px 600px 200px 190px 500px;
}

.item1{
    background-color: crimson;
    grid-column-start: 1;
    grid-column-end: 11;
}
